<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.dertyp7214.overlayer">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Overlayer"
        tools:ignore="AllowBackup">
        <activity
            android:name=".screens.SettingsScreen"
            android:theme="@style/Theme.Overlayer.Settings" />
        <activity android:name=".screens.MainScreen" />
        <activity
            android:name=".screens.SplashScreen"
            android:theme="@style/Theme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>